node_modules
.DS_Store
dist
coverage
.turbo
.DerivedData*/
DerivedData/
build/
*.tsbuildinfo
*.log
npm-debug.log*
package-lock.json
.env
.env.*
!.env.schema
.infisical/*
!apps/ios/
!apps/ios/**
apps/ios/Config/Local.xcconfig
apps/ios/**/*.xcuserdatad
apps/ios/**/xcuserdata/
