<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACCOUNTAV_API_BASE_URL</key>
	<string>$(ACCOUNTAV_API_BASE_URL)</string>
	<key>ACCOUNTAV_MANAGEMENT_URL</key>
	<string>$(ACCOUNTAV_MANAGEMENT_URL)</string>
	<key>ACCOUNTAV_PUBLISHABLE_KEY</key>
	<string>$(ACCOUNTAV_PUBLISHABLE_KEY)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(SERIESAV_DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>SERIESAV_CONFIG_ENVIRONMENT</key>
	<string>$(SERIESAV_CONFIG_ENVIRONMENT)</string>
	<key>SERIESAV_DEBUG_FORCE_PRO_MODE</key>
	<string>$(SERIESAV_DEBUG_FORCE_PRO_MODE)</string>
	<key>SERIESAV_OPEN_SOURCE_URL</key>
	<string>$(SERIESAV_OPEN_SOURCE_URL)</string>
	<key>SERIESAV_PRIVACY_URL</key>
	<string>$(SERIESAV_PRIVACY_URL)</string>
	<key>SERIESAV_SUPPORT_EMAIL</key>
	<string>$(SERIESAV_SUPPORT_EMAIL)</string>
	<key>SERIESAV_TERMS_URL</key>
	<string>$(SERIESAV_TERMS_URL)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
